.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  padding-inline: 28px;
  border-radius: 100px;
  background-color: var(--color-orange);

  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);

  @media (min-width: 768px) {
    height: 45px;
    padding-inline: 40px;
  }

  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
    color: var(--color-orange);
  }
}
