.container {
  max-width: 375px;

  padding-inline: 20px;
  margin-inline: auto;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding-inline: 32px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
