/* @import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap'); */

/* fonts */

@font-face {
  font-family: 'Montserrat';
  src: url(../src/fonts/Montserrat-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../src/fonts/Montserrat-Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../src/fonts/Montserrat-SemiBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../src/fonts/Montserrat-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../src/fonts/Montserrat-BoldItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../src/fonts/Montserrat-ExtraBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
